.caja-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    border: 1px solid #EEEEEE;
    margin: 1vw 0.5vw;
    padding: 1vw;
    width: 23%;
}
@media (max-width: 991px) {
    .caja-producto {
        width: 48%;
    }
}
@media (max-width: 767px) {
    .caja-producto {
        width: 98%;
    }
}

footer {
    background-color: lightgray;
    margin-top: 3vw;
    padding: 2vw;
}